/* src/SlidingText.css */
@keyframes slide {
    0% {
      transform: translateX(100%);
    }
    20%, 100% {
      transform: translateX(-100%);
    }
  }
/*   
  .animate-slide {
    display: flex;
    gap: 2rem;
    animation: slide 10s linear infinite;
  } */
  
  /* .slide-item {
    flex-shrink: 0;
    min-width: 100%;
    animation: slide-item 6s linear infinite;
  } */
  
  @keyframes slide-item {
    0%, 100% { transform: translateX(0); }
    25%, 75% { transform: translateX(-100%); }
  }
  